# Ignora i file di sistema Mac
.DS_store

# Ignora i file metals
.metals/

# Ignora scala build
.scala-build/

# Ignora i file vsCode
.vscode/

# Ignora tutti i file project
scala/GlobalScalarMean/project/
scala/GlobalScalarDevStd/project/
scala/GlobalScalarMinimum/project/
scala/GlobalScalarMaximum/project/
scala/CountBy/project/
scala/AvgDurationBy/project/

# Ignora tutti i file target
scala/GlobalScalarMean/target/
scala/GlobalScalarDevStd/target/
scala/GlobalScalarMinimum/target/
scala/GlobalScalarMaximum/target/
scala/CountBy/target/
scala/AvgDurationBy/target/
